.text_fon {
  background-image: linear-gradient(to right, #0049e7, #a900e7 60%);
  border-radius: 6px;
  width: 300px;
  text-align: center;
}

.profile img {
  width: 70%;
  background-image: linear-gradient(to right, #0049e7, #a900e7);
  border-radius: 15%;
}

.get_text {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(to right, #0049e7, #a900e7 60%);
}

.about_title {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(to right, #0049e7, #a900e7 60%);
  font-size: 52px;
}

.text-gradient {
  background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.text-seconday {
  color: #d63384;
}

.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
}

.bg-gradiet-primary-to-secondary {
    background: #1e30f3;
    background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
}
